* {
  padding: 0;
  margin: 0;
}

html {
    background-color: #f5f5f1;
}

.home {
    background-color: #f5f5f1;
}

.brand {
    font-family: 'Yesteryear', cursive;
    padding-left: 5vw;
    font-size: 38px;
}

.link {
    color: #221f1f;
}

.link:hover {
    text-decoration: none;
    color: #e50914;
}

.nav__item {
    padding: 0 40px;
    font-family: 'Lato', sans-serif;
}

.nav--link {
    color: #221f1f;
}

.nav--link:hover {
    color: #e50914;
    text-decoration: none;
    border-bottom: 1px solid #e50914;
}

.header-container {
    height: 100%;
    padding: 4vh 6vw 3.5vh 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/shop-stock.jpg');
    background-position: center;
    background-size: 1500px 1100px;
}

.title {
    font-family: 'Yesteryear', cursive;
    font-size: 75px;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    color:black;
    text-shadow: 0px 0px 6px #e50914;
}

.header-elements {
    padding-top: 65px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 50px;
}
    
.header__images { 
    grid-area: 1 / 2 / 2 / 6; 
}

.header__business-card { 
    grid-area: 2 / 2 / 3 / 6; 
}

@media only screen and (min-width: 767px) {
    .brand {
        position: absolute;
        padding-left: 12vw;
    }
    .title {
        font-size: 100px;
    }
    .header-container{
        padding: 8vh 6vw 8vh 6vw;
    }
  }
@media only screen and (min-width: 1113px) {
    .title {
        font-size: 150px;
    }
    .header-container{
        padding: 6vw 0 6vw;
    }
  }