* {
  padding: 0;
  margin: 0;
}

html {
    background-color: #f5f5f1;
}

.home {
    background-color: #f5f5f1;
}

.brand {
    font-family: 'Yesteryear', cursive;
    padding-left: 5vw;
    font-size: 38px;
}

.link {
    color: #221f1f;
}

.link:hover {
    text-decoration: none;
    color: #c7131c;
}

.nav__item {
    padding: 0 40px;
    font-family: 'Lato', sans-serif;
}

.nav--link {
    color: #221f1f;
}

.nav--link:hover {
    color: #e50914;
    text-decoration: none;
    border-bottom: 1px solid #e50914;
}

.header {
    width: 100%;
    height: 100%;
    padding: 4vh 6vw 1vh 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/shop-stock.jpg');
    background-position: center;
    background-size: 1500px 1100px;
    /* border-bottom: 2px solid #221f1f; */
    box-shadow: 0px 4px 19px 3px rgba(0,0,0,0.59);
}

.header-business-card {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 7px;
    font-family: 'Lato', sans-serif;
    padding-top: .5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.39); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.39);
}

.header__title {
    font-family: 'Yesteryear', cursive;
    font-size: 75px;
    text-align: center;
    padding: 10px;
    /* background-color: rgba(255, 255, 255, 0.75); */
    border-radius: 12px;
    color: #111010;
    text-shadow: 0px 0px 8.5px #e50914;
}

.header-elements {
    padding-top: 65px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 50px;
}
    
.header__images { 
    grid-area: 1 / 2 / 2 / 6; 
}

.header__business-card { 
    grid-area: 2 / 2 / 3 / 6; 
}

.app--only {
    font-size: 12px;
}

/* Reviews Section*/

.reviews-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 4rem 6vw 8vh 6vw;
}

.review {
    font-family: 'Lato', sans-serif;
    width: 100%;
    display: block;
    padding: 3vh 2vw;
    letter-spacing: .2px;
}

.star-container {
    padding-bottom: 1vh;
}

.more-reviews {
    display: flex;
    margin: 0 8vw;
    /* height: 2vh; */
    padding-bottom: 6vh;
    justify-content: flex-end;
}

.more__reviews {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    opacity: .5
}

.more__reviews:hover{
    opacity: 1;
    cursor: pointer;
}


/* Footer */

.footer-container {
    background-color: #221f1f;
    width: 100%;
    height: 24vh;
}

.footer__socials {
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer--connect {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: #f5f5f1;
}

.footer__icons__container{
    margin: 4vh auto;
    color: #f5f5f1;
}

.footer--icon {
    margin: 0 3vw;
}


.photo {
    margin: 0 1vw;
    max-width: 90%;
    max-height: 100%;
    /* max-width: 26rem;
    max-height: 26rem; */
    border: 6px ridge #c7131c;
}

.pricing--title{
    font-family: 'Yesteryear', cursive;
    font-size: 4rem;
    padding-top: 2rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #221f1f;
    margin-bottom: 1.5rem;
    width: 75vw;
}

.pricing--desc{
    width: 20rem;
    position: relative;
    left: 4vw;
    /* padding-left: 12vw; */
}

.pricing--num {
    position: relative;
    right: 4vw;
    /* padding-right: 12vw; */
}

.abt-image{
    max-width: 65vw;
    max-height: 55vh;
    margin-bottom: 7vh;
    border: 6px ridge #c7131c;
}

#menu{
    display: flex;
}

#about {
    background-color: #f5f5f1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about__title{
    font-family: 'Yesteryear', cursive;
    font-size: 5.5rem;
    padding-top: 10vh;
    padding-bottom: 8vh;
    text-align: center;
    margin: 0;
}

#pricing-desc-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* width: 50%; */
}

#pricing-num-container{
    display: flex;
    flex-direction: column;
}

/* THE WHY COMPONENT START */

#why-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 2vh;
    /* justify-content: center; */
    align-items: center;
    margin: 0 auto;
    padding: 4vh 0;
    /* width: 45%; */
    background-color: #790a0f;
    color: #f5f5f1
}

#why--title{
    font-family: 'Yesteryear', cursive;
    font-size: 4rem;
    text-align: center;
    /* width: 30rem; */
    padding-bottom: 1rem;
    border-bottom: 1px solid #f5f5f1;
}

#why--desc{
    margin: 0 4vw;
    text-align: center;
    padding-top: 2vh;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;    
    letter-spacing: .75px;
}

/* THE WHY COMPONENT END */

#pricing-container {
    padding-top: 4vh;
    /* margin: 6vh 0; */
    width: 85%;
    /* height: 55vh; */
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#pricing-containertwo{
    padding-top: 6vh;
    /* margin: 6vh 0; */
    width: 85%;
    /* height: 55vh; */
    margin: 5vh auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
}

#pricing__carousel{
    width: 50%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center; 
    /* background-color: skyblue; */
}

#pricing__text {
    font-family: 'Lato', sans-serif;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pricing__carouseltwo{
    width: 50%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center; 
    /* background-color: #221f1f; */
}

#pricing__texttwo {
    font-family: 'Lato', sans-serif;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* IPAD VIEW */
@media (height: 1024px) and (width: 768px) {
    #pricing-container {
        margin-left: 2rem;
    }
    #pricing-containertwo{
        margin-left: 16.5vw;
    }
}


@media only screen and (min-width: 767px) {
    .brand {
        position: absolute;
        padding-left: 12vw;
    }
    .header__title {
        font-size: 100px;
        margin-bottom: 20px;
    }
    .header{
        padding: 8vh 6vw 8vh 6vw;
    }
    .reviews-container {
        flex-direction: row;
    }
    .review {
        padding: 0vh 2vw;
    }
    .header-business-card {
        margin-bottom: 0;
    }
    .pricing--title{
        padding-top: 0;
        width: 20vw;
    }
    .photo {
        max-width: 40%;
    }
    .pricing--desc{
        position: static;
    }
    .pricing--num {
        position: static;
    }
    #pricing__text {
        padding-left: 8rem;
    }
    #pricing__texttwo{
        padding-right: 8.5rem;
    }
    #pricing__carouseltwo{
        margin-right: 1.5rem;
    }
    #pricing-container, #pricing-containertwo{
        flex-direction: row;
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    /* #pricing-container {
        margin-left: 2rem;
    }
    #pricing-containertwo{
        margin-left: 16.5vw;
    } */
}

@media only screen and (min-width: 1113px) {
    .header__title {
        font-size: 150px;
        margin-bottom: 25px;
    }
    .header {
        background-size: 100vw 140vh;
    }
    .photo {
        max-width: 26rem;
        max-height: 26rem;
    }
}